<div class="text-color">

    <h1>Pipes no tan comunes</h1>

    <p>Pipes from Angular - Includes </p>

</div>



<div class="grid">

    <div class="col-">
        <p-fieldset legend="i180nSelect Pipe" [toggleable]="true">
            <p class="text-color">
                {{ texto }} Es un placer {{ genero | i18nSelect : invitacionMapa }}
            </p>
        </p-fieldset>
    </div>


    <div class="col-">
        <p-fieldset legend="i180nPlural Pipe" [toggleable]="true">
            <p class="text-color">
                Actualmente {{ clientes.length | i18nPlural : clientesMapa }}
            </p>
        </p-fieldset>
    </div>


</div>
