# Auto detect text files and perform LF normalization
* text=auto
static/* linguist-vendored
# Enable syntax highlighting for files with `.gitattributes` extensions.
#
*.gitattributes linguist-language=gitattributes


/intro/node_modules


/intro/node_modules/