<h2>Nuevo Heroe  {{ heroe.superhero }}</h2>



<section fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">

  <div fxFlex="50" fxLayout="column">

    <div fxLayout="row" fxLayoutGap="40px">

      <mat-form-field fxFlex="100">
        <mat-label>
          Super Heroe
        </mat-label>
        <input matInput  [(ngModel)]="heroe.superhero"  type="text" required>
      </mat-form-field>

      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label>
          Alter ego
        </mat-label>
        <input matInput  [(ngModel)]="heroe.alter_ego" type="text" required>
      </mat-form-field>

    </div>

      <mat-form-field fxFlex="100">
        <mat-label>
          Personajes
        </mat-label>
        <input matInput  [(ngModel)]="heroe.characters"  type="text" required>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>
          Primera aparicion
        </mat-label>
        <input matInput  [(ngModel)]="heroe.first_appearance"  type="text" required>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>
          Creador
        </mat-label>
        <mat-select  required [(ngModel)]="heroe.publisher">
          <mat-option  *ngFor="let publisher of publishers" [value]="publisher.id" >
            {{ publisher.desc }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>
          Foto Url
        </mat-label>
        <input matInput [(ngModel)]="heroe.alt_img" type="url" required>
      </mat-form-field>



      <div fxLayout>
        <button  (click)="guardar()"mat-raised-button color="primary">
            <mat-icon>edit</mat-icon>
            Guardar
          </button>
          <span class="spacer" ></span>
          <button  *ngIf="heroe.id" (click)="borrar()"mat-raised-button color="warn">
            <mat-icon>delete_forever</mat-icon>
            Borrar
          </button>
      </div>




  </div>

  <div fxFlex="50">
    <img [src]="(heroe | imagen)  || 'assets/no-image.png'" alt="">
  </div>

</section>
