<div class="text-color">

    <h1>Numbers and percentages Pipes</h1>

    <p>Pipes from Angular - Includes </p>

</div>



<div class="grid">

    <div class="col-4">
        <p-card header="Ventas Netas" subheader="Del Presente Año">
            <i class="pi pi-dollar"></i> {{ ventasNetas | number: '1.2-2' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas" subheader="Del Presente Año">
            {{ ventasNetas | currency: 'CAD': 'symbol-narrow': '1.2-2' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas" subheader="Del Presente Año">
            {{ porcentaje | percent : '1.2-2' }}
        </p-card>
    </div>

</div>
