<h2>Templates: Switches  </h2>
<hr>

<form [formGroup]="miFormulario">

  <!--- Genero -->
  <div class="row mb-3">
    <label  class="col-sm-3 col-form-label" for="">Genero</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input"  formControlName="radioGenero"type="radio" value="m" id="radioMasculino" required>
          <label class="form-check-label" for="radioMasculino">
            Masculino
          </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"   formControlName="radioGenero"   type="radio" value="f" id="radioFemenino" required>
        <label class="form-check-label" for="radioFemenino">
          Femenino
        </label>
      </div>
    </div>
  </div>

  <!--- Notificaciones -->
  <div class="row mb-3">
    <label  class="col-sm-3 col-form-label" for="">Notificaciones</label>
    <div class="col-sm-9">

      <div class="form-check form-switch">
        <input class="form-check-input"  formControlName="notificaciones" type="checkbox" role="switch" id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">Recibir Notificaciones</label>
      </div>

    </div>
  </div>


  <!--- Notificaciones -->
  <div class="row mb-3">
    <label  class="col-sm-3 col-form-label" for="">Termino y Condiciones</label>
    <div class="col-sm-9">

      <div class="form-check">
        <input class="form-check-input"   formControlName="terminosCondiciones" type="checkbox"  id="terminosCondiciones">
        <label class="form-check-label" for="terminosCondiciones">
          Terminos y condiciones
        </label>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" >Enviar</button>
    </div>
  </div>


</form>

