<h2>Validaciones Reactivas</h2>
<hr>


<div class="row">
  <div class="col">

    <form  [formGroup]="miform" (ngSubmit)="submitForm()" >
        <div class="row mb-3">
          <label class="cols-sm-3 col-form-label" for="nombre">Nombre:</label>
          <div class="cols-sm-9 ">
            <input  formControlName="nombre" id="nombre" type="text" class="form-control"  placeholder="Nombre del usuario" name="nombre">
          </div>
          <span *ngIf="campoValido('nombre')" class="form-text text-danger">Debe de escribir el nombre completo</span>
        </div>

        <div class="row mb-3">
          <label class="cols-sm-3 col-form-label" for="nombre">Email:</label>
          <div class="cols-sm-9 ">
            <input id="email" type="text" class="form-control"  placeholder="Email" name="" >
          </div>
          <span class="form-text text-danger">Debe de escribir el correo del usuario</span>
        </div>

        <div class="row mb-3">
          <label class="cols-sm-3 col-form-label" for="nombre">UserName:</label>
          <div class="cols-sm-9 ">
            <input id="username" type="text" class="form-control"  placeholder="Username" name="" >
          </div>
          <span class="form-text text-danger">Debe de escribir el nombre  del usuario</span>
        </div>

        <div class="row mb-3">
          <label class="cols-sm-3 col-form-label" for="nombre">Password:</label>
          <div class="cols-sm-9 ">
            <input id="pass1" type="password" class="form-control"  placeholder="Password" name="" >
          </div>
          <span class="form-text text-danger">Debe de escribir el password  del usuario</span>
        </div>

        <div class="row mb-3">
          <label class="cols-sm-3 col-form-label" for="nombre">Confirmar Password:</label>
          <div class="cols-sm-9 ">
            <input id="pass1" type="password" class="form-control"  placeholder="Password" name="" >
          </div>
          <span class="form-text text-danger">Debe de escribir el password  del usuario</span>
        </div>


        <div class="row">
          <div class="col">
            <button type="" class="btn btn-primary float-end" >Enviar</button>
          </div>
        </div>

    </form>


  </div>
</div>

