<h3>Buscar por Region     </h3>
<h4>Region Activa: {{ regionActiva | titlecase}}</h4>

<h5>Seleccione la Region</h5>


<div class="row">
  <div class="col">
    <button type="" (click)="activarRegion(region)" [class]="getClassRegion( region )"
    class="btn btn-outline-primary btn-region" *ngFor="let region of regiones" >  {{  region  | titlecase }}
  </button>
  </div>
</div>


<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-countries-table [countries]="countries" ></app-countries-table>

  </div>
</div>
