<h2 class="mt-5">Agregar Productos</h2>

<form [formGroup]="miform">

  <div class="row g-3 align-items-center mb-3">

    <div class="col-auto">
      <label for=""  class="col-form-label">Nombre</label>
    </div>
    <div class="col-auto">
      <input class="form-control" formControlName="nombre" type="text" name="nombre" id="nombre">
    </div>
    <div class="col-auto"   >
      <span appErrorMsg  [valido]="!tieneError('nombre')" [color]="color"  [mensaje]="texto1" class="form-text">Este campo es requerido</span>
    </div>

  </div>

<div class="row g-3 align-items-center mb-3">
    <div class="col-auto"   *ngIf="tieneError('nombre')">
      <button (click)="cambiarNombre()" class="btn btn-primary" >Cambiar Texto</button>
    </div>
    <div class="col-auto"   *ngIf="tieneError('nombre')">
      <button  (click)="cambiarColor()" class="btn btn-primary" >Cambiar Color</button>
    </div>
</div>



  <div class="row">
    <div class="col">
      <button class="btn btn-primary" type="">Guardar</button>
    </div>
  </div>

</form>


<div class="row mt-5" *appCustomIf="miform.valid">
    <div class="col">
      <div class="alert alert-primary" >
        <h4>Todo Ok</h4>
      </div>
    </div>
</div>
