<div class="text-color">

    <h1>Personal Pipes</h1>

    <p class="mb-4">Pipes from Angular - Not Includes {{ 'own creation' | mayusculas: cambiarLetras }} </p>




</div>




<p-toolbar class="mt-3">

    <div class="p-toolbar-group-left">

    </div>

    <div class="p-toolbar-group-right">
        <button pButton type="button" label="Cambiar letras" (click)="cambiarlasLetras()" class="mr-2"></button>
        <button pButton icon="pi pi-sort" label="Ordernar Por Nombre" (click)="ordernarPorArreglo('nombre')" ass="mr-1 p-button-info"></button>
        <button pButton icon="pi pi-sort" label="Ordernar Por Valores" (click)="ordernarPorArreglo('vuela')" lass="mr-2"></button>
        <button pButton icon="pi pi-sort" label="Ordernar Por Color" (click)="ordernarPorArreglo('color')" class="mr-2 p-button-success"></button>
    </div>

</p-toolbar>


<div class="grid">

    <div class="col mt-4">
        <p-table [value]="heroes | ordernar:ordenarPor ">
            <ng-template pTemplate="header">
                <tr>
                    <th id="">Nombre</th>
                    <th id="">Vuela</th>
                    <th id="">Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela }}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>



</div>


<div class="grid">

    <div class="col mt-4">
        <p-table [value]="heroes | slice:0">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre" id="">
                        <div class="flex justify-content-between align-items-center">
                            Nombre
                            <p-sortIcon field="name"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="vuela" id="">
                        <div class="flex justify-content-between align-items-center">
                            Vuela
                            <p-sortIcon field="vuela"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="color" id="">
                        <div class="flex justify-content-between align-items-center">
                            color
                            <p-sortIcon field="color"></p-sortIcon>
                        </div>
                    </th>
                </tr>

            </ng-template>

            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela }}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>



</div>
