<div class="text-color">

    <h1>Basic Pipes</h1>

    <p>Pipes from Angular - Includes </p>

</div>


<div class="p-grid">

    <div class="p-col-4">
        <p-card header="Uppercase" [subheader]="nombreLower">
            {{ nombreLower | uppercase }}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Lowercase" [subheader]="nombreUpper">
            {{ nombreLower | lowercase }}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Titlecase" [subheader]="nombreCompleto">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>

</div>


<div class="text-color">

    <h2>Date | Fecha | Pipes</h2>

    <p>Pipes para mostrar las fechas</p>

</div>


<div class="p-grid">

    <div class="p-col-6">
        <p-card>
            <ul>
                <li> Fecha </li>
                <li> Fecha | Date </li>
                <li> Fecha | Date : 'short' </li>
                <li> Fecha | Date : 'long' </li>
                <li> Fecha | Date : 'MMMMM' </li>
                <li> Fecha | Date : 'MMMMM dd, yyyy' </li>
            </ul>
        </p-card>
    </div>

    <div class="p-col-6">
        <p-card>
            <ul>
                <li> {{ fecha }} </li>
                <li> {{ fecha | date }} </li>
                <li> {{ fecha | date: 'short' }} </li>
                <li> {{ fecha | date: 'long' }} </li>
                <li> {{ fecha | date: 'MMMM' }} </li>
                <li> {{ fecha | date: 'MMMM dd, yyyy' }} </li>
            </ul>
        </p-card>
    </div>

</div>