<h2>Por pais</h2>

<hr>

<div class="row">

  <div class="col">

    <form (keyup.enter)="buscar()" >
      <label for="termino">Pais</label>
      <input [(ngModel)]="termino" type="text" name="termino" id=""  placeholder="Buscar Pais...">
    </form>

  </div>


</div>

  <hr>

  <div class="row" *ngIf="error">
    <div class="col  alert  alert-danger">
    <p>No se encontro un pais con el temino: {{ termino }}</p>
  </div>
  </div>

  <div class="row">
  <div class="col">
    <table class="table table-hover" aria-describedby="Countries Results">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Poblacion</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

          <tr></tr>

      </tbody>

    </table>
  </div>
  </div>




