<h2>Por pais</h2>

<hr>

<div class="row">

  <div class="col">

    <app-countries-input  (onEnter)=" buscar($event)"  (onDebounce)=" sugerencias( $event ) " placeholder="Buscar por pais..."   ></app-countries-input>

  </div>


</div>

    <ul *ngIf="mostrarSugerencias">
      <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action" >
        <a class="nav-link" [routerLink]="['/country', pais.ccn3]" >{{ pais.name.common }} </a>
      </li>
      <li class="list-group-item list-group-item-action" (click)="buscarSugerido(termino)" >
        <a class="nav-link" > Buscar "{{ termino }}" </a>
      </li>

    </ul>

  <hr>

  <div class="row" *ngIf="error">
    <div class="col  alert  alert-danger">
    <p>No se encontro un pais con el temino: {{ termino }}</p>
  </div>
  </div>

  <div class="row"  *ngIf="paises.length > 0">
  <div class="col">

    <app-countries-table [countries]="paises" ></app-countries-table>




  </div>
  </div>




