 <table class="table table-hover" aria-describedby="Countries Results">
      <thead>
        <tr>
          <th id="">#</th>
          <th id="">Bandera</th>
          <th id="">Nombre</th>
          <th id="">Poblacion</th>
          <th id=""></th>
        </tr>
      </thead>

      <tbody>

          <tr *ngFor="let country of countries; let i = index" >
            <th class="" id="" > {{ i + 1 }} </th>
            <th class="" id="" > <img class="flag" [src]="country.flags.png" alt=""> </th>
            <th class="" id="" >{{ country.name.common  }}</th>
            <th class="" id="" >{{ country.population | number }}</th>
            <th class="" id="" > <a  [routerLink]="['/country', country.cca2]" >Ver...</a> </th>
          </tr>

      </tbody>

    </table>
