<div   class="d-flex">



<app-sidebar></app-sidebar>


  <div  class="container" >
    <div class="row">
      <div  class="col">
        <h3>Buscar</h3>
        <input type="text"  class="form-control" placeholder="Buscar gift...">
      </div>

      <div  class="col">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem amet fugiat necessitatibus expedita rem laboriosam maiores,
          tenetur rerum eius omnis quas nobis ipsam nesciunt reprehenderit perferendis,
          eveniet laborum deleniti obcaecati.</p>
      </div>


    </div>
  </div>




</div>
